html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-image: url(../img/bg5.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', 'helvetica', arial, sans-serif;
    font-weight: 300;
    color: #62686f;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 300;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.main-header {
    text-align: center;
    margin-top: 100px;
    padding: 1px;

    background-image: url(../img/banner.jpg);
}

h1 {
    margin-bottom: 20px;

    font-weight: 300;
    font-size: 50px;
    font-family: 'Open Sans', 'helvetica', arial, sans-serif;

    text-shadow: 0 1px rgbs(0,0,0,0.3);
    color: white;
}

.main-header__avatar {
    display: block;
    margin: 0 auto;
    margin-top: -70px;
    margin-bottom: 10px;
    
    border-radius: 999px;
    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
}


/***************/
/* nav bar css */
/***************/
/* nav bar style*/
.main-nav {
    background-color: #333;
}

.main-nav ul li {
    margin: 15px 10px;
}

.main-nav ul li a {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

/* nav bar layout */
.main-nav ul{
    text-align: center;
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-nav ul li {
    display: inline-block;
}

/* whatido section */
.info-section {
    padding: 30px 60px;
    background-color: #fff;
}

.info-section header h2 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.info-section header h2:after {
    content: "";
    display: block;
    width: 10%;
    margin: 10px auto;
    border-bottom: 3px solid black;
}

.info-section__description {
    font-style: italic;
}

.info-section header {
    margin-bottom: 40px;
    text-align: center;
}

.info-section ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.whatido__skill-list {
    /*overflow: hidden;*/
    text-align: center;
}

/* create an invisible element to expand float element containter */
.clearfix:after {
    content:"";
    display: table;
    clear: both
}

.whatido__skill {
    float: left;
    width: 33%;
    padding-top: 100px;

    background-repeat: no-repeat;
    background-position: center top;
}

.whatido__skill--code {
    background-image: url(../img/skill-code.png);
}

.whatido__skill--design {
    background-image: url(../img/skill-design.png);
}

.whatido__skill--product {
    background-image: url(../img/skill-product.png);
}

/* education and experience section */
.education-experience__list li {
    margin-bottom: 10px;
    padding: 0 20px 30px 20px;
}

.education-experience__list img {
    float: left;
    width: 180px;
    padding-top: 20px;
}

.education-experience__list__description {
    padding-left: 30px;
    overflow: hidden;
}

/* photo section */
.photos__list {
    overflow: hidden;
}

.photos__list li {
    float: left;
    padding: 10px;
    width: 25%;
}

.photos__list li img {
    width: 100%;
}

/* get in touch section */
.get-in-touch__list {
    overflow: hidden;
}

.get-in-touch__list li {
    float: left;
    width: 25%;
    text-align: center;
}

.get-in-touch__list li img {
    width: 130px;
}

/* leave a message section */
/* decoration */
.contact input,
.contact textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact button {
    border: none;
    border-radius: 9999px;

    background: #ffd524;

    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    color: #fff;
    box-shadow: 0 3px 0 #daae1d;

    width: 100%;
}

/* layout */
.contact form {
    position: relative;
    margin: 0 auto;

    width: 40%;

}

.contact input, textarea {
    margin-bottom: 15px;
    padding: 8px;

    width: 100%;
}

.contact label {
    position: absolute;
    /*right: 105%;*/
    left: -105%;

    text-align: right;
    width: 100%;
}