body {
    background-image: url(../img/bg5.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', 'helvetica', arial, sans-serif;
    font-weight: 300;
    color: #62686f;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 300;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.main-header {
    text-align: center;
    margin-top: 100px;
    padding: 1px;

    background-image: url(../img/banner.jpg);
}

h1 {
    margin-bottom: 20px;

    font-weight: 300;
    font-size: 50px;
    font-family: 'Open Sans', 'helvetica', arial, sans-serif;

    text-shadow: 0 1px rgbs(0,0,0,0.3);
    color: white;
}

.main-header__avatar {
    display: block;
    margin: 0 auto;
    margin-top: -70px;
    margin-bottom: 10px;
    
    border-radius: 999px;
    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
}


/***************/
/* nav bar css */
/***************/
/* nav bar style*/
.main-nav {
    background-color: #333;
}

.main-nav ul li {
    margin: 15px 10px;
}

.main-nav ul li a {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

/* nav bar layout */
.main-nav ul{
    text-align: center;
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-nav ul li {
    display: inline-block;
}

